* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "League Spartan";
  background: #CECECE;
  color:#161515;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}