.conteiner {
  max-width: 1440px;
  max-height: 3629px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  max-width: 1440px;
  max-height: 939px;
  background: #f8f8f8;
  flex-wrap: wrap;
  gap: 20px;
}

.info {
  margin-left: 135px;
  margin-bottom: 211px;
}

.type {
  margin-top: 100px;
  font-weight: 300;
  font-size: 24px;
  line-height: 186%;
}

.title {
  margin-top: 40px;
  font-weight: 300;
  font-size: 250px;
  line-height: 230px;
  color: #272727;
}
.title_text {
  margin-top: 28px;
  font-weight: 300;
  font-size: 32px;
  line-height: 155%;
  width: 575px;
  height: 150px;
}

.buttons {
  margin-top: 53px;
  display: flex;
}

.btn {
  display: inline-block;
  background: #161515;
  padding: 26px 74px;
  white-space: nowrap;
  font-weight: 300;
  font-size: 32px;
  line-height: 29px;
  color: #ffffff;
}

.price {
  background: #ffffff;
  box-shadow: 0px 0px 28px rgba(214, 214, 214, 0.25);
  font-weight: 300;
  font-size: 32px;
  line-height: 186%;
  text-align: center;
  color: #272727;
  padding: 13px 27px;
}

.watch1 {
  max-height: 720px;
  max-width: 408px;
  margin-top: 0;
  margin-right: 230px;
}

.other_watches {
  padding-top: 0;
  padding-bottom: 142px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.popular {
  font-weight: 300;
  font-size: 24px;
  line-height: 186%;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}
.models {
  font-weight: 400;
  font-size: 72px;
  line-height: 112.5%;
  color: #000000;
  margin-bottom: 65px;
}
.watch2 {
  width: 417px;
  height: 630px;
  background: #f8f8f8;
  margin-bottom: 67px;
  padding: 110px 60px;
}
.name_watch2,
.name_watch3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 29px;
}
.info_watch2 {
  width: 532px;
  height: 194px;
  font-weight: 300;
  font-size: 32px;
  line-height: 155%;
  margin-top: 17px;
  margin-bottom: 85px;
}
.watch3 {
  width: 496px;
  height: 630px;
  background: #f8f8f8;
  padding: 65px 2px;
  margin-bottom: 67px;
}
.info_watch3 {
  width: 510px;
  height: 196px;
  font-weight: 300;
  font-size: 32px;
  line-height: 155%;
  margin-top: 17px;
  margin-bottom: 105px;
}
.about_product {
  position: relative;
  font-weight: 400;
  font-size: 32px;
  line-height: 186%;
  text-transform: capitalize;
  margin-bottom: 58px;
}

.about_product::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -9px;
  background: #707070;
  height: 1px;
  width: calc(100% - 20px);
  left: 50%;
  transform: translateX(-50%);
}

.text_product {
  width: 515px;
  height: 231px;
  font-weight: 300;
  font-size: 24px;
  line-height: 170%;
}
.more {
  display: inline;
  text-decoration-line: underline;
  color: #bb8b5d;
}
